{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineAvisor</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/tailwindcss">
        [x-cloak] { 
            display: none !important; 
        }
        h1 {
            @apply text-4xl font-bold mb-4
        }
        h2 {
            @apply text-xl font-bold mb-2
        }
        p {
            @apply mb-4
        }
        .button, button, [type='submit'], [type='button'] {
            @apply bg-indigo-600 text-white font-bold px-6 py-4 inline-block 
            rounded-lg shadow-lg transition-all cursor-pointer
        }
        .button:hover, button:hover, [type='submit']:hover, [type='button']:hover {
            @apply bg-indigo-700
        }
        .button:active, button:active, [type='submit']:active, [type='button']:active {
            @apply scale-95
        }
        .button.alert, button.alert {
            @apply bg-red-700
        }
        .button.alert:hover, button.alert:hover {
            @apply bg-red-600
        }
        .button-red {
            @apply !bg-red-500 hover:!bg-red-600
        }
        .button-gray {
            @apply !bg-gray-300 hover:!bg-[#c3c9d0]
        }
        .navitems>li>a {
            @apply flex items-center gap-2 h-12 px-4 hover:bg-[rgba(31,41,55,0.3)] rounded-lg;
        }
        .hoverlist>* {
            @apply hover:bg-gray-100 rounded-md transition duration-150;
        }
        .hoverlist>*>a {
            @apply flex items-center p-2;
        }
        .highlight {
            @apply !bg-indigo-100;
        }
        .allauth content a {
            @apply underline underline-offset-2
        }
        .allauth content a:hover {
            @apply text-indigo-500
        }
        .allauth form[action="/accounts/signup/"] ul {
            @apply hidden
        }
        .allauth form[action="/accounts/signup/"] ul.errorlist {
            @apply block
        }
        .allauth .helptext {
            @apply block mt-4
        }
        input[type=file] {
            @apply bg-white pl-0
        }
        .textarea, textarea, input {
            @apply w-full rounded-lg py-4 px-5 bg-gray-100
        }
        .errorlist li {
            @apply p-1 pl-4 border-l-red-500 border-l-4 border-solid mb-2 text-red-500
        }
        input[name="remember"] {
            @apply w-auto
        }
        .alert-info { @apply bg-sky-600 }
        .alert-success { @apply bg-emerald-600 }
        .alert-warning { @apply bg-orange-600 }
        .alert-danger { @apply bg-red-600 }
    </style>
    {% block styles %}
    <!-- Bloque para estilos adicionales -->
    {% endblock %}
</head>
<body class="{% block class %}{% endblock %} bg-gray-900">

    {% include 'includes/header.html' %}

    {% block layout %}
    {% endblock %}
    
    {% block javascript %}{% endblock %}
    <!-- Footer -->
<footer class="bg-gray-900 text-gray-200 py-6">
    <div class="container mx-auto px-6 lg:px-8">
        <div class="flex flex-col lg:flex-row lg:justify-between lg:space-x-12">
            <!-- Información Principal del Footer -->
            <div class="text-center lg:text-left mb-8 lg:mb-0">
                <h2 class="text-2xl font-semibold text-white mb-4">CineAdvisor</h2>
                <p class="text-gray-400 mb-4">Discover new movies recommended especially for you. Explore and enjoy with our personalized recommendations!</p>
                <p class="text-gray-400 mb-4 w-auto">This website provides links to external streaming platforms such as <span class="text-cyan-600">Netflix, Amazon Prime Video, Hulu, Disney+, HBO Max, Apple TV, Peacock</span> and <span class="text-cyan-600">Paramount+</span>, solely for informational and professional purposes. We do not profit from these links. All logos and trademarks used are the property of their respective owners and are used with permission for informational purposes only. This website is not affiliated with or endorsed by any of these platforms.</p>
            </div>

            <!-- Enlaces de Navegación -->
            <div class="text-center lg:text-left mb-8 lg:mb-0">
                <h3 class="text-base font-semibold text-white mb-4 text-center">Quick Links</h3>
                <ul class="space-y-2 text-center">
                    <li><a href="/" class="block text-gray-400 hover:text-white transition duration-300 text-sm">Home</a></li>
                    <li><a href="{% url 'movie_list' %}" class="block text-gray-400 hover:text-white transition duration-300 text-sm">Movies</a></li>
                    <li><a href="{% url 'recommendations' %}" class="block text-gray-400 hover:text-white transition duration-300 text-sm">Your Califications</a></li>
                </ul>
            </div>

            <!-- Contacto y Redes Sociales -->
            <div class="text-center lg:text-left">
                <h3 class="text-base font-semibold text-white mb-4 text-center">Contact the developer!</h3>
                <p class="text-gray-400 text-sm mb-2 text-center">Email: <a href="mailto:contacto@example.com" class="text-indigo-400 hover:text-indigo-300 transition duration-300">alejandromarala@gmail.com</a></p>
                <p class="text-gray-400 text-sm mb-4 text-center">Phone: <a href="tel:+123456789" class="text-indigo-400 hover:text-indigo-300 transition duration-300">673 15 58 70</a></p>
                <h3 class="text-base font-semibold text-white mb-4 text-center">Follow</h3>
                <div class="flex justify-center space-x-4 text-center">
                    <a href="https://www.linkedin.com/in/alejandro-mart%C3%ADnez-al%C3%A1ez-15a7b1256/" target="_blank" class="text-gray-400 hover:text-white transition duration-300 text-xl">
                        <i class="fab fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/_alxgold.03_/" target="_blank" class="text-gray-400 hover:text-white transition duration-300 text-xl">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/alma8026" target="_blank" class="text-gray-400 hover:text-white transition duration-300 text-xl">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Derechos de autor -->
        <div class="text-center border-t border-gray-700 pt-4 mt-6">
            <p class="text-gray-500 text-xs">&copy; 2025 Movie Recommender. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
