{% extends 'layouts/blank.html' %}
{% block styles %}
<style>
    main {
        padding: 3rem 0;
    }
    
    /* Contenedor */
    .user-ratings-container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 12px;
        padding: 2rem;
        box-shadow: 2px 2px 8px #d1d5db;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .recommendations-container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 12px;
        padding: 2rem;
        box-shadow: 2px 2px 8px #d1d5db;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    /* Secciones */
    section {
        margin-bottom: 2.5rem;
    }
    
    .title-sections {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: #34495e;
        border-bottom: 4px solid #3498db;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;
        box-shadow: 2px 2px 4px black;
        padding: 20px;
        border-radius: 10px;
    }
    
    /* Lista de Películas */
    .ul-sections {
        list-style: none;
        padding: 0;
    }
    
    .li-sections {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 1rem 0;
        transition: background-color 0.3s ease;
        border-radius: 20px;
    }
    
    .li-sections:last-child {
        border-bottom: none;
    }
    
    .li-sections:hover {
        background-color: #f7f9fb;
    }
    
    .movie-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #2c3e50;
        max-width: 800px;
        flex-grow: 1; /* Asegura que el título ocupe el espacio disponible */
        padding-right: 10px; /* Espacio entre el título y las estrellas */
    }
    
    /* Estrellas de Rating */
    .rating {
        font-size: 1.75rem;
        color: #f39c12; /* Color dorado para las estrellas */
    }
    
    /* Estilo de las imágenes de estrellas */
    .star-icon {
        height: 30px; /* Tamaño de las estrellas */
        margin-right: 5px; /* Espaciado entre las estrellas */
    }
    
    /* Botón personalizado */
    .btn-custom {
        background-color: #e74c3c; /* Color de fondo rojo */
        color: #fff; /* Color del texto blanco */
        border-radius: 30px; /* Bordes más redondeados */
        padding: 12px 30px; /* Espaciado interno */
        font-size: 18px; /* Tamaño de fuente */
        font-weight: 700;
        text-decoration: none; /* Quitar subrayado del enlace */
        display: inline-block; /* Asegurar que el botón se muestre correctamente */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .btn-custom:hover {
        background-color: #c0392b; /* Color de fondo al pasar el mouse */
        transform: translateY(-5px); /* Ligeramente más alto al pasar el mouse */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    }
    
    .fixed-bottom {
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 1000;
    }
    
    /* Sección de Recomendaciones */
    .recommendations-content {
        padding: 2.5rem;
        background-color: #f3f4f6;
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .recommendations-content:hover {
        background-color: #e5e7eb;
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
    
    .recommendations-content h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #444;
        margin-bottom: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    
    .favorite-genres, .recommended-movies {
        margin-bottom: 2rem;
    }
    
    .favorite-genres h3, .recommended-movies h3 {
        font-size: 1.75rem;
        font-weight: 600;
        color: #555;
        margin-bottom: 1.25rem;
        text-align: center;
    }
    
    .genres-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    
    .genre-badge {
        background-color: #2980b9;
        color: #fff;
        border-radius: 25px;
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    
    .genre-badge:hover {
        background-color: #21618c;
        transform: scale(1.1);
    }
    
    .recommended-movies ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .recommended-movies .movie-item {
        margin-bottom: 20px;
        padding: 20px 25px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #fff;
        width: 100%;
        max-width: 700px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }
    
    .recommended-movies .movie-item:hover {
        background-color: #f4f4f4;
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    /* Sección de Películas Calificadas */
    .user-ratings {
        height: 600px; /* Altura fija */
        overflow-y: auto; /* Scroll vertical */
        padding-right: 10px; /* Espacio adicional para el scrollbar */
    }

    /* Personalización del scrollbar */
    .user-ratings::-webkit-scrollbar {
        width: 10px; /* Ancho del scrollbar */
        box-shadow: 2px 2px 4px gray;
        border-radius: 10px;
    }

    .user-ratings::-webkit-scrollbar-thumb {
        background-color: #3498db; /* Color del scrollbar */
        border-radius: 10px; /* Bordes redondeados */
        transition: background-color 0.3s ease;
    }

    .user-ratings::-webkit-scrollbar-thumb:hover {
        background-color: #2980b9; /* Color al pasar el mouse */
    }

    .user-ratings::-webkit-scrollbar-track {
        background-color: #f0f2f5; /* Color de fondo del track */
        border-radius: 10px; /* Bordes redondeados */
    }

    .stars-container {
        display: flex;
        justify-content: flex-end; /* Alinea las estrellas a la derecha */
        gap: 5px; /* Espaciado entre las estrellas */
    }

    .stars {
        display: inline-block;
    }

    .ver-btn {
        transition: all 0.3s ease-in-out;
      }
      
      .ver-btn {
        width: 130px;
        height: 60px;
        border-radius: 50px;
        background-image: linear-gradient(135deg, #22d3ee 0%, #2980b9 100%);
        box-shadow: 0 15px 20px -10px gray;
        outline: none;
        cursor: pointer;
        border: none;
        color: white;
      }
      
      .ver-btn:hover {
        transform: translateY(3px);
        box-shadow: none;
      }
      
      .ver-btn:active {
        opacity: 0.5;
      }

      .btn-go-home {
        background-color: white !important;
        -webkit-box-shadow: 6px 4px 38px -8px rgba(220,38,38,1) !important;
        -moz-box-shadow: 6px 4px 38px -8px rgba(220,38,38,1) !important;
        box-shadow: 6px 4px 38px -8px rgba(220,38,38,1) !important;
      }

    @media (max-width: 1200px) {
        .movie-title {
            max-width: 600px;
        }

        .ver-btn {
            margin-top: 10px;
        }
    }

    @media (max-width: 992px) {
        .movie-title {
            max-width: 400px;
        }

        .ver-btn {
            margin-top: 10px;
        }

        .recommendations-container {
            padding: 1rem;
        }
    }

    @media (max-width: 768px) {
        .li-sections {
            display: block; /* Cambia de flex a block para apilar los elementos */
            text-align: center;
        }

        .recommendations-container {
            padding: 1rem;
        }

        .ver-btn {
            margin-top: 10px;
        }
        
        .movie-title {
            margin-bottom: 10px; /* Agrega un margen entre el título y las estrellas */
            text-align: center;
        }
    
        .stars-container {
            justify-content: center; /* Centra las estrellas debajo del título */
            margin-top: 10px; /* Agrega un pequeño margen superior */
        }
    }
    
    
</style> 
{% endblock %}

{% block content %}
<main>
    <div class="user-ratings-container">
        <h2 class="title-sections">Películas Calificadas</h2>
        <section class="user-ratings">
            <ul class="ul-sections">
                {% for movie in rated_movies %}
                    <li class="li-sections px-3 mt-1">
                        <span class="movie-title">{{ movie.title }}</span>
                        <div class="stars-container">
                        {% for star in movie.stars %}
                            <span class="stars">
                                <img src="{{ star }}" alt="Star" class="star-icon">
                            </span>
                        {% endfor %}
                        <div>
                    </li>
                    <hr class="mt-1">
                {% empty %}
                    <li class="li-sections">No has calificado ninguna película.</li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <div class="recommendations-container mt-12">
      <section class="recommendations">
          <h2 class="title-sections">A otros usuarios les ha gustado...</h2>
          <ul class="ul-sections">
              {% for movie in recommended_movies %}
                  <li class="li-sections">
                      <span class="movie-title px-3">{{ movie.title }}</span>
                      <div class="px-3">
                        <button class="ver-btn">Ver ahora</button>
                      </div>
                  </li>
                  <hr class="mt-1">
              {% empty %}
                  <li class="li-sections">No hay recomendaciones disponibles.</li>
              {% endfor %}
          </ul>
      </section>
    
      <section class="recommendations-content">
        <section class="favorite-genres">
            {% if top_genres %}
            <h2 class="title-sections">Porque te gusta:</h2>
            <div class="genres-container">
                {% for genre in top_genres %}
                    <!-- Aquí accedemos al id y nombre del género -->
                    <a href="{% url 'movie_list' %}?search=&genre={{ genre.id }}" class="genre-badge">{{ genre.name }}</a>
                {% empty %}
                    <div class="genre-badge">No se han encontrado géneros favoritos.</div>
                {% endfor %}
            </div>
            {% endif %}
        </section>
          <ul class="ul-sections">
              {% for movie in recommended_content_movies %}
                  <li class="li-sections">
                      <span class="movie-title px-3">{{ movie.title }}</span>
                      <div class="px-3">
                        <button class="ver-btn">Ver ahora</button>
                      </div>
                  </li>
                  <hr class="mt-1">
              {% empty %}
                  <li class="li-sections">No hay recomendaciones disponibles.</li>
              {% endfor %}
          </ul>
      </section>
    </div>
    
    <!-- Botón de Volver al Inicio -->
    <div class="fixed-bottom">
        <button class="btn-go-home relative bg-white text-center w-48 rounded-2xl h-14 text-white text-xl font-semibold overflow-hidden group flex items-center justify-start px-4" type="button">
            <!-- Fondo animado del botón -->
            <div class="bg-red-700 rounded-xl h-10 w-10 flex items-center justify-center absolute left-1 top-[50%] transform -translate-y-1/2 group-hover:w-[184px] group-hover:h-12 z-10 transition-all duration-500 ease-in-out">
                <!-- Ícono SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="24px" width="24px" class="z-20">
                    <path
                        d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
                        fill="#ffffff"
                    ></path>
                    <path
                        d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
                        fill="#ffffff"
                    ></path>
                </svg>
            </div>
            <!-- Enlace funcional -->
            <a href="{% url 'home' %}" class="relative z-20 text-red-700 group-hover:text-transparent transition-colors duration-500 ease-in-out ml-12">
                Go Home
            </a>
        </button>
    </div>
    </main>
    {% endblock %}