{% extends 'layouts/blank.html' %}

{% block styles %}
{% load static %}
<style>
    /* Contenedor principal de detalles de la película */
    .movie-detail-container {
        max-width: 1200px;
        margin: 40px auto;  /* Mantener centrado con un margen superior */
        padding: 30px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        /* Los márgenes laterales son implícitos por el 'auto' en el margin horizontal */
    }

    /* Estilo de la imagen de la película */
    .movie-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        object-fit: cover;
    }

    /* Contenedor de la descripción */
    .movie-description-container {
        flex: 1;
        max-width: 700px;
    }

    /* Título de la película */
    .movie-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    /* Descripción de la película */
    .movie-description {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #666;
        margin-bottom: 25px;
    }

    /* Géneros de la película */
    .movie-genres {
        margin-bottom: 25px;
    }

    .genre-badge {
        display: inline-block;
        margin: 5px;
        padding: 8px 12px;
        background-color: #22d3ee;
        color: white;
        font-size: 1rem;
        border-radius: 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    }

    .genre-badge:hover {
        background-color: #3b82f6;
        transform: scale(1.05);
    }

    /* Botón de retroceso */
    .back-btn {
        display: inline-block;
        padding: 12px 20px;
        background-color: #007bff;
        color: #fff;
        font-size: 1.2rem;
        border: none;
        border-radius: 30px;
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        transition: background-color 0.3s ease-in-out;
    }

    .back-btn:hover {
        background-color: #0056b3;
    }

    @media (max-width: 1200px) {
        .movie-detail-container {
            flex-direction: column;
            padding: 25px;
            margin-left: 30px;  /* Márgenes para evitar que toque el borde */
            margin-right: 30px; /* Márgenes para evitar que toque el borde */
        }
    }

    /* Estilos para pantallas pequeñas */
    @media (max-width: 768px) {
        .movie-detail-container {
            flex-direction: column;
            padding: 15px;
            margin-left: 20px;  /* Márgenes para evitar que toque el borde */
            margin-right: 20px; /* Márgenes para evitar que toque el borde */
        }

        .movie-image {
            max-width: 100%;  /* Asegurar que la imagen no se salga del contenedor */
            margin: 0 auto 20px;
            height: 350px;
            width: auto;
        }

        .movie-title {
            font-size: 2rem;
        }

        .movie-description {
            font-size: 1.1rem;
        }

        .movie-description-container {
            max-width: 100%;
            text-align: center;
        }
    }

    /* Estilos para dispositivos muy pequeños */
    @media (max-width: 480px) {
        .movie-title {
            font-size: 1.8rem;
        }

        .movie-description {
            font-size: 1rem;
        }

        .genre-badge {
            font-size: 0.9rem;
            padding: 6px 10px;
        }
    }

    /* Botón de Volver al Inicio en la parte inferior */
    .fixed-bottom {
        position: fixed;
        bottom: 30px;
        left: 30px;
        z-index: 1000;
    }

    .btn-go-home {
        background-color: white !important;
        box-shadow: 6px 4px 38px -8px rgba(220,38,38,1) !important;
    }

    /* Estilos para las estrellas de calificación */
    .star-container {
        display: inline-block;
        margin-right: 10px; /* Más espacio entre las estrellas */
    }

    .rate-stars {
        width: 40px;  /* Aumentamos el tamaño de las estrellas */
        height: 40px; /* Aumentamos el tamaño de las estrellas */
        object-fit: contain;  /* Asegura que las estrellas no se recorten */
        transition: transform 0.3s ease-in-out; /* Añadimos una transición para animar el tamaño */
    }

    /* Efecto al pasar el mouse por encima (opcional, para animación) */
    .rate-stars:hover {
        transform: scale(1.1);  /* Aumenta ligeramente el tamaño de las estrellas al hacer hover */
    }
</style>
{% endblock %}

{% block content %}

<div class="movie-detail-container">
    <!-- Imagen de la película a la izquierda -->
    {% if movie.image_url %}
        <img src="{% static movie.image_url %}" alt="{{ movie.title }}" class="movie-image">
    {% else %}
        <p>No image available</p>
    {% endif %}

    <!-- Descripción y géneros de la película a la derecha -->
    <div class="movie-description-container">
        <h1 class="movie-title">{{ movie.title }}</h1>

        <!-- Descripción de la película -->
        <div class="movie-description">
            <strong>Description:</strong>
            <p>{{ movie.description|default:"No description available." }}</p>
        </div>

        <!-- Géneros de la película -->
        <div class="movie-genres">
            <strong>Genres: </strong>
            {% for genre in movie.genres.all %}
            <a href="{% url 'movie_list' %}?search=&genre={{ genre.id }}" class="genre-badge">{{ genre.name }}</a>
            {% endfor %}
        </div>

        <!-- Mostrar las plataformas -->
        <div class="movie-platforms">
            <strong>Available on: </strong>
            {% for platform in platforms %}
                <span class="platform-badge">{{ platform.name }}</span>
            {% empty %}
                <p>No platforms available.</p>
            {% endfor %}
        </div>

        <!-- Mostrar la duración -->
        <div class="movie-duration">
            <strong>Duration: </strong>
            <p>{{ duration_str }}</p>
        </div>

        <!-- Mostrar el tráiler -->
        {% if trailer_url %}
        <div class="movie-trailer">
            <strong>Trailer: </strong>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.trailer_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% else %}
            <p>No trailer available.</p>
        {% endif %}

        <!-- Mostrar estrellas de calificación -->
        <div class="movie-rating">
            <strong>Your Rating: </strong>
            <div class="stars-display">
                <!-- Las estrellas generadas por la vista -->
                {{ stars_display|safe }}
            </div>
        </div>
    </div>
</div>

<!-- Botón de Volver al Inicio (Fixed bottom) -->
<div class="fixed-bottom">
    <button class="btn-go-home relative bg-white text-center w-48 rounded-2xl h-14 text-white text-xl font-semibold overflow-hidden group flex items-center justify-start px-4" type="button">
        <!-- Fondo animado del botón -->
        <div class="bg-red-700 rounded-xl h-10 w-10 flex items-center justify-center absolute left-1 top-[50%] transform -translate-y-1/2 group-hover:w-[184px] group-hover:h-12 z-10 transition-all duration-500 ease-in-out">
            <!-- Ícono SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="24px" width="24px" class="z-20">
                <path
                    d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
                    fill="#ffffff"
                ></path>
                <path
                    d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
                    fill="#ffffff"
                ></path>
            </svg>
        </div>
        <!-- Enlace funcional -->
        <a href="{% url 'home' %}" class="relative z-20 text-red-700 group-hover:text-transparent transition-colors duration-500 ease-in-out ml-12">
            Go Home
        </a>
    </button>
</div>
{% endblock %}
