{% extends 'layouts/blank.html' %}

{% block content %}
{% load static %}
<style>
    .favourite-container {
        overflow-y: scroll;
        --sb-track-color: transparent;
        --sb-thumb-color: #1e293b;
        --sb-size: 16px;
    }
    
    .favourite-container::-webkit-scrollbar {
        width: var(--sb-size);
    }
    
    .favourite-container::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
    }
    
    .favourite-container::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
        border: 1px solid #232E33;
    }
    
    @supports not selector(::-webkit-scrollbar) {
        .favourite-container {
            scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
    }

    .truncate-multi-line {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .genres-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .genre-badge {
        color: rgb(156 163 175);
        border-radius: 25px;
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    
    .genre-badge:hover {
        background-color:rgb(36, 51, 92);
        color: #fff;
        transform: scale(1.1);
    }
    
</style>
<div class="max-w-2xl mx-auto flex flex-col items-center py-16 px-8 bg-gray-900 w-full">
    <!-- Imagen de perfil -->
    <div class="relative w-32 h-32 sm:w-40 sm:h-40 mb-6">
        <img class="w-full h-full rounded-full object-cover border-4 border-gray-700 shadow-lg" src="{{ profile.avatar }}" alt="icon img" />
    </div>
    
    <!-- Nombre de usuario -->
    <div class="text-center mb-6">
        <h1 class="text-white font-bold text-3xl sm:text-4xl">{{ profile.name }}</h1>
        <div class="text-gray-400 text-lg">@{{ profile.user.username }}</div>
    </div>
    
    <!-- Contenedor de información -->
    <div class="w-full mt-4 border border-gray-700 rounded-xl p-4 bg-gray-800 text-white space-y-8">
        <div class="flex flex-col gap-6 md:flex-row md:justify-between">
            <!-- Descripción -->
            <div class="md:w-[48%] p-4 border border-gray-700 rounded-xl bg-gray-900 shadow-md flex flex-col">
                <h2 class="font-semibold text-xl text-gray-300 mb-3 text-center">Description</h2>
                <p class="text-base text-gray-400 flex-grow max-h-40 overflow-y-scroll favourite-container px-4">{{ profile.info|default:'Example of a description for a user profile' }}</p>
            </div>
            
            <!-- Medallas -->
            <div class="md:w-[48%] p-4 bg-gray-900 rounded-xl shadow-md border border-gray-700">
                <h2 class="font-semibold text-xl text-gray-300 mb-3 text-center">Medals</h2>
                <div class="flex justify-center space-x-3 py-4">
                    <span class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center shadow-lg text-black font-bold">★</span>
                    <span class="w-10 h-10 bg-gray-400 rounded-full flex items-center justify-center shadow-lg text-black font-bold">☆</span>
                    <span class="w-10 h-10 bg-blue-400 rounded-full flex items-center justify-center shadow-lg text-black font-bold">✦</span>
                    <span class="w-10 h-10 bg-blue-400 rounded-full flex items-center justify-center shadow-lg text-black font-bold">✦☆✦</span>
                </div>
                <div class="grid grid-cols-3 gap-2 text-center text-gray-400 pt-6">
                    <div class="bg-gray-800 p-2 rounded-xl shadow-md flex flex-col items-center">
                        <span class="text-xl font-bold">null</span>
                        <span class="text-sm">Followers</span>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl shadow-md flex flex-col items-center">
                        <span class="text-xl font-bold">null</span>
                        <span class="text-sm">Following</span>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl shadow-md flex flex-col items-center">
                        <span class="text-xl font-bold">{{ rating_count }}</span>
                        <span class="text-sm"><span class="text-yellow-500">★</span>Ratings<span class="text-yellow-500">★</span></span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Información extra -->
        <div class="flex flex-col sm:flex-row justify-between text-center text-lg text-gray-400 gap-6">
            <div class="w-full sm:w-[48%] border border-gray-700 bg-gray-900 p-6 rounded-xl shadow-md">
                <span class="text-2xl font-bold">{{favorite_movies_count}}</span><br>
                <span class="text-md">Favourite movies</span>
            </div>
            <div class="w-full sm:w-[48%] border border-gray-700 bg-gray-900 p-6 rounded-xl shadow-md">
                <span class="text-2xl font-bold"> {{total_hours}} </span><br>
                <span class="text-md">Watched</span><br>
            </div>
        </div>
        {% if top_genres %}
            <div class="genres-container">
                {% for genre in top_genres %}
                    <!-- Aquí accedemos al id y nombre del género -->
                    <a title="Click to view {{genre.name}} movies!" href="{% url 'movie_list' %}?search=&genre={{ genre.id }}" class="genre-badge bg-gray-900">{{ genre.name }}</a>
                {% empty %}
                    <div class="genre-badge">No favorite genres found.</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<!-- Sección de Películas Favoritas -->
<div class="w-auto px-2 py-8">
    <h2 class="text-2xl font-bold text-stone-200 mb-4 text-center">💗 Favourite Movies 💗</h2>

    {% if favorite_movies %}
    <div class="max-w-2xl mx-auto favourite-container grid grid-cols-2 md:grid-cols-3 gap-3 sm:gap-6 bg-stone-200 p-4 md:p-6 rounded-xl h-[600px] shadow-md shadow-stone-200">
        {% for movie in favorite_movies %}
            <div class="bg-gray-700 p-4 rounded-lg shadow-md shadow-black text-center hover:scale-110 transition duration-[0.4s] max-h-[280px]">
                <a href="{% url 'movie_detail' movie.id %}">
                    <img class="w-full h-48 object-cover rounded-lg" src="{% static movie.image_url %}" alt="{{ movie.title }}">
                    <h3 class="text-stone-200 mt-2 truncate-multi-line">
                        {{ movie.title }}
                    </h3>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-stone-400 text-center">No favorite movies yet.</p>
{% endif %}


</div>

<div class="container mx-auto px-4">
    <!-- Navigation Buttons -->
    <div class="flex justify-center gap-6 mb-8 flex-wrap">
        <button class="tab-button bg-blue-500 text-white py-3 px-6 rounded-xl text-lg transition duration-300 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 max-w-xs w-auto sm:px-5 sm:py-2" onclick="showTab('custom-lists')">Custom Lists</button>
        <button class="tab-button bg-gray-300 py-3 px-6 rounded-xl text-lg transition duration-300 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 max-w-xs w-auto sm:px-5 sm:py-2" onclick="showTab('reviews')">Reviews</button>
        <button class="tab-button bg-gray-300 py-3 px-6 rounded-xl text-lg transition duration-300 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 max-w-xs w-auto sm:px-5 sm:py-2" onclick="showTab('favorites')">Directors & Actors</button>
    </div>

    <!-- Sections -->
    <div id="custom-lists" class="tab-content bg-stone-200 p-6 rounded-lg shadow-md max-w-3xl mx-auto">
        <h2 class="text-3xl font-semibold mb-6 text-center">Custom Lists</h2>
    
        <!-- Formulario para crear una lista -->
        <form method="POST" action="{% url 'custom_lists' %}" class="flex justify-center mb-6">
            {% csrf_token %}
            <input type="text" name="title" class="p-3 rounded-lg text-lg" placeholder="Enter list title" required>
            <button type="submit" class="bg-blue-600 text-white py-3 px-6 rounded-xl text-lg hover:bg-blue-700 transition duration-300">+ Add List</button>
        </form>
    
        <!-- Mostrar las listas personalizadas -->
        <ul class="mt-6 space-y-5">
            {% for list in custom_lists %}
                <li class="bg-gray-700 p-4 rounded-lg text-lg text-stone-200 hover:cursor-pointer transition duration-300">
                    <div class="flex justify-between items-center">
                        <span>{{ list.title }}</span>
                        <button class="bg-blue-600 text-white px-3 py-1 rounded-lg text-sm hover:bg-blue-700" onclick="toggleMoviesList('{{ list.id }}')">Show Movies</button>
                    </div>
                    <div id="movies-list-{{ list.id }}" class="mt-4 hidden">
                        <!-- Mostrar las películas dentro de la lista como tarjetas -->
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                            {% for movie in list.movies.all %}
                                <div class="bg-gray-700 p-4 rounded-lg shadow-md shadow-black text-center hover:scale-110 transition duration-[0.4s] max-h-[280px]">
                                    <a href="{% url 'movie_detail' movie.id %}">
                                        <img class="w-full h-48 object-cover rounded-lg" src="{% static movie.image_url %}" alt="{{ movie.title }}">
                                        <h3 class="text-stone-200 mt-2 truncate-multi-line">
                                            {{ movie.title }}
                                        </h3>
                                    </a>
                                    <!-- Botón para eliminar la película de la lista -->
                                    <form method="POST" action="{% url 'remove_movie_from_list' list.id movie.id %}" class="mt-2">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-600 text-xl">X</button>
                                    </form>
                                </div>
                            {% empty %}
                                <div class="text-stone-200">No movies added yet!</div>
                            {% endfor %}
                        </div>
    
                        <!-- Formulario para agregar películas a la lista -->
                        <form method="POST" action="{% url 'add_movie_to_list' list.id %}" class="mt-4">
                            {% csrf_token %}
                            <label for="movie">Select a movie:</label>
                            <select name="movie" id="movie" class="p-3 rounded-lg text-lg">
                                {% for movie in profile.favorites.all %}
                                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                                {% empty %}
                                    <option value="">No favorite movies yet!</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="bg-green-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-green-700 mt-2">Add Movie</button>
                        </form>
                    </div>
                </li>
            {% empty %}
                <li>No custom lists yet!</li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        // Función para alternar la visibilidad de las películas dentro de cada lista
        function toggleMoviesList(listId) {
            const moviesList = document.getElementById(`movies-list-${listId}`);
            if (moviesList.classList.contains('hidden')) {
                moviesList.classList.remove('hidden');
            } else {
                moviesList.classList.add('hidden');
            }
        }
    </script>
         
    
    
    <div id="reviews" class="tab-content bg-white p-6 rounded-lg shadow-md hidden max-w-3xl mx-auto">
        <h2 class="text-2xl font-semibold mb-6">Reviews</h2>
        <div class="space-y-6">
            <div class="bg-gray-200 p-5 rounded-lg text-lg text-gray-800">
                <p class="font-semibold">★★★★☆</p>
                <p class="text-sm">Awesome! 4/5</p>
            </div>
            <div class="bg-gray-200 p-5 rounded-lg text-lg text-gray-800">
                <p class="font-semibold">★★★☆☆</p>
                <p class="text-sm">It was okay.</p>
            </div>
            <div class="bg-gray-200 p-5 rounded-lg text-lg text-gray-800">
                <p class="font-semibold">★★★★★</p>
                <p class="text-sm">Really good!</p>
            </div>
        </div>
    </div>
    
    <div id="favorites" class="tab-content bg-white p-6 rounded-lg shadow-md hidden max-w-3xl mx-auto">
        <h2 class="text-2xl font-semibold mb-6">Favorite Directors & Actors</h2>
        <h3 class="font-semibold text-xl text-gray-800 mb-4">Directors</h3>
        <ul class="mb-6 space-y-5">
            <li class="bg-gray-200 p-4 rounded-lg text-lg text-gray-800 hover:bg-blue-100 transition duration-300">Manolito</li>
            <li class="bg-gray-200 p-4 rounded-lg text-lg text-gray-800 hover:bg-blue-100 transition duration-300">Josefa</li>
            <li class="bg-gray-200 p-4 rounded-lg text-lg text-gray-800 hover:bg-blue-100 transition duration-300">Pepe</li>
        </ul>
        <h3 class="font-semibold text-xl text-gray-800 mb-4">Actors</h3>
        <ul class="space-y-5">
            <li class="bg-gray-200 p-4 rounded-lg text-lg text-gray-800 hover:bg-blue-100 transition duration-300">Scarlett Johansson</li>
            <li class="bg-gray-200 p-4 rounded-lg text-lg text-gray-800 hover:bg-blue-100 transition duration-300">Ester Expósito</li>
            <li class="bg-gray-200 p-4 rounded-lg text-lg text-gray-800 hover:bg-blue-100 transition duration-300">Robert Downey Jr.</li>
        </ul>
    </div>
</div>



<script>
    function showTab(tabId) {
        document.querySelectorAll('.tab-content').forEach(tab => {
            tab.classList.add('hidden');
        });
        document.getElementById(tabId).classList.remove('hidden');
        
        document.querySelectorAll('.tab-button').forEach(button => {
            button.classList.remove('bg-blue-500', 'text-white');
            button.classList.add('bg-gray-300');
        });
        event.target.classList.add('bg-blue-500', 'text-white');
        event.target.classList.remove('bg-gray-300');
    }
</script>

{% endblock %}
